#content_GV{
    text-align: center;

    img{
        margin-top: 50px;
        border: 1px solid #000;
    }
}

@media screen and (max-width: 450px){
    #content_GV{
        text-align: center;

        img{
            margin-top: 50px;
            border: 1px solid #000;
            width: 360px;
        }
    }
}