#content_VCT{
    .khunggioithieu{
        margin: auto;
        margin-top: 50px;
        width: 1200px;
        border: 1px solid #000;

        table{
            width: 1100px;
            margin: auto;
            margin-top: 25px;

            tr{
                .khung_trai{
                    width: 700px;
                }
                .khung_phai{
                    width: 300px;
                    text-align: center;
                    img{
                        padding: 5px;
                        width: 300px;
                    }

                    .hidden{
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 450px){
    #content_VCT{
        .khunggioithieu{
            margin: 0;
            margin-top: 50px;
            width: 100%;
            border: 1px solid #000;

            table{
                width: 399px;
                margin: auto;
                margin-top: 25px;

                tr{
                    .khung_trai{
                        h2{
                            font-size: 15px;
                        }

                        ul{
                            li{
                                font-size: 8px;
                            }
                        }
                    }

                    .khung_phai{
                        img{
                            width: 100px;
                        }

                        .hidden{
                            margin: auto;
                            display: block;
                        }                        
                    }
                }
            }
        }
    }
}